@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
body 
{
 	color: azure; 
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

a{
	text-decoration: none;
	color: #fff;
}
#header 
{
	position: fixed;
	left: 0px;
	right: 0px;
    top: 0px;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #010615;
	padding: 0px 35px;
	z-index: 5;
	transition: .5s;
	color: #fff;
}
.neon{
	position: absolute;
	font-size: 5em;
	text-shadow: 0 0 20px #fff;
}
.neon:after{
	position: absolute;
	top: 0;
	left: 0;
	content: attr(data-text);
	z-index: -1;
	color: #fff;
	filter: blur(15px);
}
.neon:before{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: aliceblue;
	z-index: -2;
	opacity: .2;
	filter: blur(40px);
}
@media only screen and (min-width: 801px){
	.titlelong
{
	position: relative;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	display: block;
	white-space: nowrap;
	transition: .5s;
}
	.titleshort{
		width: 0px;
		opacity: 0%;
		display: none;
		transition: .5s;
	}
}

@media only screen and (max-width: 800px){
	.titleshort
	{
		position: relative; 
		text-transform: uppercase;
		margin-left: auto;
		margin-right: auto;
		display: block;
		white-space: nowrap;
		transition: .5s;
	}
	#header{
		padding: 0px 5px;
		transition: .5s;
	}
	.titlelong{
		width: 0px;
		opacity: 0%;
		display: none;
		transition: .5s;
	}
}	
iframe{
	width: 100vw;
	border: none;
	height: calc(100vh - 150px);
	transition: .2s;
}
iframe.active{
	width: calc(100vw - 250px);
	transition: .2s;
}	

@media only screen and (max-width: 840px){
	iframe{
	width: 100vw;
	border: none;
	height: calc(100vh - 150px);
	transition: .5s;
}
}
#main
{
	position: fixed;
	left: 0px;
	right: 0px;
    top: 100px;
	height: calc(100vh - 110px);
	display: flex;	
    background-color: #010615;
    z-index: 4;
	flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
#footer
{
	font-family: FibraOne-Bold, Gotham Rounded A, Gotham Rounded B, Segoe UI, Roboto, Oxygen, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
	position: fixed;
	left: 0px;
	right: 0px;
    bottom: 0px;
	height: 50px;
	display: flex;	
	background-color: #010615;
    z-index: 5;
	align-items: center;
	justify-content: center;
}
.reportAProblem
{
	text-decoration: none;
	color: #fff;
}